In [1]:
%matplotlib inline
import pandas as pd

In [2]:
tmap = pd.read_csv('../data/Tmap_2005.csv')

In [3]:
tmap

,일자,지역(시도),지역(시군구),검색지명,검색지유형1,검색지유형2,검색지유형3,검색지랭킹(시군구내)
0,20200510,강원,삼척시,쏠비치삼척,여행/레저,숙박,콘도/리조트,1
1,20200510,강원,삼척시,삼척해양레일바이크용화정거장,여행/레저,레저/스포츠,레저/스포츠기타,2
2,20200510,강원,삼척시,장호항,교통편의,교통시설,항구,3
3,20200510,강원,삼척시,삼척해양레일바이크궁촌정거장,여행/레저,레저/스포츠,레저/스포츠기타,4
4,20200510,강원,삼척시,해신당공원,여행/레저,관광명소,공원,5
...,...,...,...,...,...,...,...,...
232495,20200503,충북,청주시 청원구,초정약수세종스파텔,여행/레저,관광명소,온천,26
232496,20200503,충북,청주시 청원구,더휴센트럴파크아파트,건물/시설,주요건물,아파트단지,27
232497,20200503,충북,청주시 청원구,오창대성베르힐아파트,건물/시설,주요건물,아파트단지,28
232498,20200503,충북,청주시 청원구,오창모아미래도와이드시티아파트,건물/시설,주요건물,아파트단지,29
232499,20200503,충북,청주시 청원구,신화아파트,건물/시설,주요건물,아파트단지,30

In [4]:
tmap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232500 entries, 0 to 232499
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   일자           232500 non-null  int64
 1   지역(시도)       232500 non-null  object
 2   지역(시군구)      232500 non-null  object
 3   검색지명         232500 non-null  object
 4   검색지유형1       232500 non-null  object
 5   검색지유형2       232500 non-null  object
 6   검색지유형3       232500 non-null  object
 7   검색지랭킹(시군구내)  232500 non-null  int64
dtypes: int64(2), object(6)
memory usage: 14.2+ MB

# 서울지역만 하는 경우
## 노원구 한정

In [71]:
c1 = tmap['지역(시도)'] == '서울'
select_list = ['공공기관', '의료시설', '연구기관', '업종별기업', '행정기관', '종교', '가정의례']
# c2 = tmap['지역(시군구)'] == '강남구'
# c2 = tmap['일자']==20200510
seoul = tmap.loc[c1,:]
seoul.shape

(23250, 8)

In [73]:
l = []
for i in select_list:
    select_condition2 = tmap['검색지유형2']==i
    seoul_index = seoul.loc[select_condition2,:].index
    # l.append(seoul_index)
    l.extend(seoul_index)
l
new_seoul = seoul.drop(l)
new_seoul['검색지유형2'].unique()

array(['주요건물', '교통시설', '대형유통점', '관광명소', '시장', '교육기관', '레저/스포츠', '쇼핑기타',
       '산업시설', '자동차시설', '문화생활시설', '숙박', '카페', '문화용품', '음식점', '데이트코스',
       '음식료', '구역내시설물', '언론기관', '각종단체', '주요금융', '사회시설', '주요그룹', '정보통신기기',
       '가구', '취미/오락'], dtype=object)

In [76]:
gu_list = new_seoul['지역(시군구)'].unique()
# for i in gu_list:

array(['강동구', '성동구', '송파구', '양천구', '영등포구', '용산구', '종로구', '중랑구', '강남구',
       '강서구', '관악구', '광진구', '동작구', '마포구', '서초구', '은평구', '강북구', '구로구',
       '노원구', '도봉구', '동대문구', '성북구', '중구', '금천구', '서대문구'], dtype=object)

In [6]:
cnt_seoul = seoul['검색지명'].value_counts()
cnt_seoul

현대백화점압구정본점         31
SRT수서역             31
코엑스                31
강남세브란스병원           31
은마아파트              31
선릉역                31
강남구청               31
현대백화점무역센터점         31
강남역                31
래미안블레스티지아파트        31
롯데백화점강남점           31
역삼역                31
신현대아파트             31
삼성서울병원             31
도곡렉슬아파트            31
삼성타워팰리스1차          31
갤러리아백화점명품관EAST     31
논현초등학교             30
갤러리아백화점명품관WEST     30
삼성타워팰리스2차          29
강남구청역              29
신논현역               28
선경아파트              27
리베라호텔서울            24
강남자동차매매단지          19
차병원                19
강남파이낸스센터           18
프리마호텔              18
강남한양수자인아파트         15
포스코센터빌딩            15
아쿠아리움코엑스몰점         11
디에이치아너힐즈아파트         9
탄천공영주차장             8
코엑스인터컨티넨탈호텔서울       7
라마다호텔서울강남           6
한보미도맨션1차아파트         6
드레스가든               6
더채플앳청담              5
학동역                 5
그랜드힐컨벤션             4
래미안강남힐즈아파트          4
중앙해장                3
논현역                 3
노블발렌티대치점            3
역삼대우푸르지오아파트         2
스칼라티움강남점            2
컨벤션헤리츠              2
상록아트홀               2
엠플러스웨딩홀             2
삼정호텔                2
신라스테이역삼             2
이마트역삼점              2
더라움                 1
더라빌                 1
개포주공1단지아파트          1
충현교회                1
도로교통공단강남운전면허시험장     1
더베일리하우스논현점          1
Name: 검색지명, dtype: int64

cnt_seoul = seoul['검색지명'].value_counts()
cnt_seoul

In [7]:
type(cnt_seoul)
data = {'name':[], 'count':[]}
for idx, i in enumerate(cnt_seoul.index):
    if cnt_seoul[idx]<=1: break
    data['name'].append(i)
    data['count'].append(cnt_seoul[idx])
data
cnt_df = pd.DataFrame(data)
cnt_df.head(50)
# 음 한달동안 서울에서 20회 이하는 삭제했을때

              name  count
0       현대백화점압구정본점     31
1           SRT수서역     31
2              코엑스     31
3         강남세브란스병원     31
4            은마아파트     31
5              선릉역     31
6             강남구청     31
7       현대백화점무역센터점     31
8              강남역     31
9      래미안블레스티지아파트     31
10        롯데백화점강남점     31
11             역삼역     31
12          신현대아파트     31
13          삼성서울병원     31
14         도곡렉슬아파트     31
15       삼성타워팰리스1차     31
16  갤러리아백화점명품관EAST     31
17          논현초등학교     30
18  갤러리아백화점명품관WEST     30
19       삼성타워팰리스2차     29
20           강남구청역     29
21            신논현역     28
22           선경아파트     27
23         리베라호텔서울     24
24       강남자동차매매단지     19
25             차병원     19
26        강남파이낸스센터     18
27           프리마호텔     18
28      강남한양수자인아파트     15
29         포스코센터빌딩     15
30      아쿠아리움코엑스몰점     11
31     디에이치아너힐즈아파트      9
32         탄천공영주차장      8
33   코엑스인터컨티넨탈호텔서울      7
34       라마다호텔서울강남      6
35     한보미도맨션1차아파트      6
36           드레스가든      6
37          더채플앳청담      5
38             학동역      5
39         그랜드힐컨벤션      4
40      래미안강남힐즈아파트      4
41            중앙해장      3
42             논현역      3
43        노블발렌티대치점      3
44     역삼대우푸르지오아파트      2
45        스칼라티움강남점      2
46          컨벤션헤리츠      2
47           상록아트홀      2
48         엠플러스웨딩홀      2
49            삼정호텔      2

# 카카오 api
- 카카오 api 키워드로 장소검색을 사용하면 각각의 네비게이션 목적지들의 좌표값이 나온다.
- 지하철 역일경우에는 인구 분포가 안나오는데 그외에는 나온다.

In [8]:
# cnt_df.plot(kind='bar')
import requests
from decouple import config
ka_key = config('KAKAO_RESTAPI')
kakao_url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query=광운대학교'
h = {
    'Authorization': 'KakaoAK '+ka_key
}
res = requests.get(kakao_url, headers=h)
res.json()

{'documents': [{'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': 'SC4',
   'category_group_name': '학교',
   'category_name': '교육,학문 > 학교 > 대학교',
   'distance': '',
   'id': '10148561',
   'phone': '02-940-5114',
   'place_name': '광운대학교',
   'place_url': 'http://place.map.kakao.com/10148561',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058270608867',
   'y': '37.6192404638865'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17564275',
   'phone': '02-940-8614',
   'place_name': '광운대학교 동해문화예술관',
   'place_url': 'http://place.map.kakao.com/17564275',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057577863828',
   'y': '37.6198462676801'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': 'CT1',
   'category_group_name': '문화시설',
   'category_name': '문화,예술 > 문화시설 > 공연장,연극극장',
   'distance': '',
   'id': '1817730210',
   'phone': '',
   'place_name': '광운대학교 동해문화예술관 대극장',
   'place_url': 'http://place.map.kakao.com/1817730210',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.05759144243',
   'y': '37.6198282413004'},
  {'address_name': '서울 노원구 월계동 465-41',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17566581',
   'phone': '',
   'place_name': '광운대학교 한울관',
   'place_url': 'http://place.map.kakao.com/17566581',
   'road_address_name': '서울 노원구 광운로 27-38',
   'x': '127.057057429366',
   'y': '37.6206465974719'},
  {'address_name': '서울 노원구 월계동 500-40',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '부동산 > 주거시설 > 기숙사,기숙시설',
   'distance': '',
   'id': '614748387',
   'phone': '02-940-5282',
   'place_name': '광운대학교 공공기숙사빛솔재',
   'place_url': 'http://place.map.kakao.com/614748387',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.05633764726',
   'y': '37.6214794557542'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '스포츠,레저 > 스케이트 > 스케이트장',
   'distance': '',
   'id': '10156264',
   'phone': '02-909-3114',
   'place_name': '광운대학교 아이스링크',
   'place_url': 'http://place.map.kakao.com/10156264',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057193096323',
   'y': '37.6203077604657'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '823736351',
   'phone': '',
   'place_name': '광운대학교 80주년기념관',
   'place_url': 'http://place.map.kakao.com/823736351',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.0587072414654',
   'y': '37.619931305040545'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '사회,공공기관 > 행정기관 > 과학기술정보통신부 > 우체국 > 우편취급국',
   'distance': '',
   'id': '18132873',
   'phone': '',
   'place_name': '광운대학교우편취급국',
   'place_url': 'http://place.map.kakao.com/18132873',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.05896020643866',
   'y': '37.62040059346702'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17561911',
   'phone': '',
   'place_name': '광운대학교 비마관',
   'place_url': 'http://place.map.kakao.com/17561911',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.059933686195',
   'y': '37.6195820062722'},
  {'address_name': '서울 노원구 월계동 383-4',
   'category_group_code': 'CE7',
   'category_group_name': '카페',
   'category_name': '음식점 > 카페',
   'distance': '',
   'id': '22577995',
   'phone': '02-941-3890',
   'place_name': '와플대학 광운대캠퍼스',
   'place_url': 'http://place.map.kakao.com/22577995',
   'road_address_name': '서울 노원구 광운로 64',
   'x': '127.06018097652368',
   'y': '37.62283985104657'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '715015774',
   'phone': '',
   'place_name': '광운대학교 새빛관',
   'place_url': 'http://place.map.kakao.com/715015774',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.060889862124',
   'y': '37.6197941498518'},
  {'address_name': '서울 노원구 월계동 505-2',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '12721052',
   'phone': '',
   'place_name': '광운대학교 누리관',
   'place_url': 'http://place.map.kakao.com/12721052',
   'road_address_name': '서울 노원구 광운로1길 60',
   'x': '127.054995691942',
   'y': '37.6203952998464'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '11032521',
   'phone': '02-940-8226',
   'place_name': '광운대학교 정보과학교육원',
   'place_url': 'http://place.map.kakao.com/11032521',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058270628556',
   'y': '37.6192656915341'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학습시설 > 도서관',
   'distance': '',
   'id': '17555966',
   'phone': '02-940-5268',
   'place_name': '광운대학교 중앙도서관',
   'place_url': 'http://place.map.kakao.com/17555966',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058805946885',
   'y': '37.6201339781116'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': 'PK6',
   'category_group_name': '주차장',
   'category_name': '교통,수송 > 교통시설 > 주차장',
   'distance': '',
   'id': '964798968',
   'phone': '',
   'place_name': '광운대학교 동해문화예술관 한울관 주차장',
   'place_url': 'http://place.map.kakao.com/964798968',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057065359787',
   'y': '37.6206483956122'}],
 'meta': {'is_end': False,
  'pageable_count': 45,
  'same_name': {'keyword': '광운대학교', 'region': [], 'selected_region': ''},
  'total_count': 223}}

# 전체지역

In [21]:
cnt_tmap = tmap['검색지명'].value_counts()
cnt_tmap

솔내음          95
수림정          93
목월빵집         93
하우스베이커리      93
이성당          93
             ..
영덕읍행정복지센터     1
재능중학교         1
한일합섬의령공장      1
서영여자고등학교      1
구미시보건소        1
Name: 검색지명, Length: 16307, dtype: int64