In [122]:
import pandas as pd

In [2]:
tmap = pd.read_csv('../data/Tmap_2005.csv')

In [71]:
c1 = tmap['지역(시도)'] == '서울'
select_list = ['공공기관', '의료시설', '연구기관', '업종별기업', '행정기관', '종교', '가정의례']
# c2 = tmap['지역(시군구)'] == '강남구'
# c2 = tmap['일자']==20200510
seoul = tmap.loc[c1,:]
seoul.shape

(23250, 8)

In [169]:
l = []
for i in select_list:
    select_condition2 = tmap['검색지유형2']==i
    seoul_index = seoul.loc[select_condition2,:].index
    # l.append(seoul_index)
    l.extend(seoul_index)
new_seoul = seoul.drop(l)
new_seoul['검색지유형3'].unique()
# seoul['검색지유형2'].unique()
# seoul['검색지유형3'].unique()

array(['아파트브랜드', '지하철역', '아파트단지', '백화점', '아파트건설사', '공원', '할인점', '주상복합',
       '농수축산물시장', '대학교', '쇼핑센터', '테마파크', '주요빌딩', '일반상가', '산업시설기타',
       '고속도로 IC', '오피스텔', '스케이트장', '기차역', '전망대', '주차장', '박물관/기념관', '호텔',
       '전자제품양판점', '도서관', '극장', '커피전문점', '고등학교', '종합시장', '서적브랜드', '전문상가',
       '한식', '미술관', '드라이브코스', '문화유적지', '고궁', '버스터미널', '초등학교', '전시장',
       '수족관', '부페', '공항', '농수축산물점', '교차로', '학교내시설물', '유원지', '재래시장', '방송사',
       '운동장/체육관', '슈퍼마켓', '공연장', '섬', '분식', '기념비', '중학교', '아파트형공장',
       '종합스포츠센타', '골프장', '대한상공회의소', '은행', '주요건물기타', '주유소', '자동차영업소',
       '중고차매매', '대교/철교', '사회복지시설', '화랑/전시관', '삼성', '센터', '능묘', '회관',
       '도시고속화도로IC', '축제', '운전면허시험장', 'LG유플러스', '호수', '한샘가구', '관광안내소',
       '장난감', '동식물원', '패밀리레스토랑', '놀이시설'], dtype=object)

In [164]:
# 서울시 구
gu_list = new_seoul['지역(시군구)'].unique()
# 점수주기
new_seoul['point'] = 31-new_seoul['검색지랭킹(시군구내)']
# 지역별 점수 합산
result = pd.DataFrame()
for i in gu_list:
    con_gu = new_seoul['지역(시군구)'] == i
    # print(i)
    gu_seoul = new_seoul.loc[con_gu, :]
    s = gu_seoul.groupby(by=['검색지명']).sum()
    s = s.loc[s['point']>20,:]
    ss = s.sort_values(by='point', ascending=False).reset_index()
    ss['gu'] = i
    result=result.append(ss[['검색지명', 'point', 'gu']])
result.head(40)

                 검색지명  point   gu
0       고덕래미안힐스테이트아파트    930  강동구
1                 천호역    904  강동구
2           고덕그라시움아파트    868  강동구
3        강동롯데캐슬퍼스트아파트    795  강동구
4            현대백화점천호점    770  강동구
5           고덕아르테온아파트    727  강동구
6       고덕롯데캐슬베네루체아파트    697  강동구
7           암사선사현대아파트    650  강동구
8           삼익그린2차아파트    632  강동구
9          프라이어팰리스아파트    592  강동구
10       고덕리엔파크3단지아파트    533  강동구
11          고덕아이파크아파트    433  강동구
12                명일역    409  강동구
13               상일동역    386  강동구
14       고덕센트럴아이파크아파트    353  강동구
15            광나루한강공원    338  강동구
16             이마트명일점    316  강동구
17              굽은다리역    264  강동구
18               상일IC    199  강동구
19           래미안강동팰리스    196  강동구
20                길동역    191  강동구
21                암사역    139  강동구
22          둔촌푸르지오아파트    118  강동구
23         2001아울렛천호점    116  강동구
24            삼익파크아파트     91  강동구
25               둔촌동역     73  강동구
26  삼성엔지니어링글로벌엔지니어링센터     61  강동구
27         고덕주공9단지아파트     32  강동구
28       강일리버파크3단지아파트     21  강동구
0                 서울숲    930  성동구
1              이마트성수점    867  성동구
2          왕십리센트라스아파트    853  성동구
3             이마트왕십리점    715  성동구
4      래미안옥수리버젠1단지아파트    684  성동구
5   E편한세상옥수파크힐스1단지아파트    616  성동구
6                트리마제    604  성동구
7         행당한신휴플러스아파트    581  성동구
8             금호벽산아파트    580  성동구
9          한양대학교서울캠퍼스    573  성동구
10            마장축산물시장    558  성동구

In [153]:
cnt_seoul = seoul['검색지명'].value_counts()

cnt_seoul = seoul['검색지명'].value_counts()
cnt_seoul

In [154]:
type(cnt_seoul)
data = {'name':[], 'count':[]}
for idx, i in enumerate(cnt_seoul.index):
    if cnt_seoul[idx]<=1: break
    data['name'].append(i)
    data['count'].append(cnt_seoul[idx])
data
cnt_df = pd.DataFrame(data)
# cnt_df.head(50)
# 음 한달동안 서울에서 20회 이하는 삭제했을때

# 카카오 api
- 카카오 api 키워드로 장소검색을 사용하면 각각의 네비게이션 목적지들의 좌표값이 나온다.
- 지하철 역일경우에는 인구 분포가 안나오는데 그외에는 나온다.

In [8]:
# cnt_df.plot(kind='bar')
import requests
from decouple import config
ka_key = config('KAKAO_RESTAPI')
kakao_url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query=광운대학교'
h = {
    'Authorization': 'KakaoAK '+ka_key
}
res = requests.get(kakao_url, headers=h)
res.json()

{'documents': [{'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': 'SC4',
   'category_group_name': '학교',
   'category_name': '교육,학문 > 학교 > 대학교',
   'distance': '',
   'id': '10148561',
   'phone': '02-940-5114',
   'place_name': '광운대학교',
   'place_url': 'http://place.map.kakao.com/10148561',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058270608867',
   'y': '37.6192404638865'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17564275',
   'phone': '02-940-8614',
   'place_name': '광운대학교 동해문화예술관',
   'place_url': 'http://place.map.kakao.com/17564275',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057577863828',
   'y': '37.6198462676801'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': 'CT1',
   'category_group_name': '문화시설',
   'category_name': '문화,예술 > 문화시설 > 공연장,연극극장',
   'distance': '',
   'id': '1817730210',
   'phone': '',
   'place_name': '광운대학교 동해문화예술관 대극장',
   'place_url': 'http://place.map.kakao.com/1817730210',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.05759144243',
   'y': '37.6198282413004'},
  {'address_name': '서울 노원구 월계동 465-41',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17566581',
   'phone': '',
   'place_name': '광운대학교 한울관',
   'place_url': 'http://place.map.kakao.com/17566581',
   'road_address_name': '서울 노원구 광운로 27-38',
   'x': '127.057057429366',
   'y': '37.6206465974719'},
  {'address_name': '서울 노원구 월계동 500-40',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '부동산 > 주거시설 > 기숙사,기숙시설',
   'distance': '',
   'id': '614748387',
   'phone': '02-940-5282',
   'place_name': '광운대학교 공공기숙사빛솔재',
   'place_url': 'http://place.map.kakao.com/614748387',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.05633764726',
   'y': '37.6214794557542'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '스포츠,레저 > 스케이트 > 스케이트장',
   'distance': '',
   'id': '10156264',
   'phone': '02-909-3114',
   'place_name': '광운대학교 아이스링크',
   'place_url': 'http://place.map.kakao.com/10156264',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057193096323',
   'y': '37.6203077604657'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '823736351',
   'phone': '',
   'place_name': '광운대학교 80주년기념관',
   'place_url': 'http://place.map.kakao.com/823736351',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.0587072414654',
   'y': '37.619931305040545'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '사회,공공기관 > 행정기관 > 과학기술정보통신부 > 우체국 > 우편취급국',
   'distance': '',
   'id': '18132873',
   'phone': '',
   'place_name': '광운대학교우편취급국',
   'place_url': 'http://place.map.kakao.com/18132873',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.05896020643866',
   'y': '37.62040059346702'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17561911',
   'phone': '',
   'place_name': '광운대학교 비마관',
   'place_url': 'http://place.map.kakao.com/17561911',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.059933686195',
   'y': '37.6195820062722'},
  {'address_name': '서울 노원구 월계동 383-4',
   'category_group_code': 'CE7',
   'category_group_name': '카페',
   'category_name': '음식점 > 카페',
   'distance': '',
   'id': '22577995',
   'phone': '02-941-3890',
   'place_name': '와플대학 광운대캠퍼스',
   'place_url': 'http://place.map.kakao.com/22577995',
   'road_address_name': '서울 노원구 광운로 64',
   'x': '127.06018097652368',
   'y': '37.62283985104657'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '715015774',
   'phone': '',
   'place_name': '광운대학교 새빛관',
   'place_url': 'http://place.map.kakao.com/715015774',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.060889862124',
   'y': '37.6197941498518'},
  {'address_name': '서울 노원구 월계동 505-2',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '12721052',
   'phone': '',
   'place_name': '광운대학교 누리관',
   'place_url': 'http://place.map.kakao.com/12721052',
   'road_address_name': '서울 노원구 광운로1길 60',
   'x': '127.054995691942',
   'y': '37.6203952998464'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '11032521',
   'phone': '02-940-8226',
   'place_name': '광운대학교 정보과학교육원',
   'place_url': 'http://place.map.kakao.com/11032521',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058270628556',
   'y': '37.6192656915341'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학습시설 > 도서관',
   'distance': '',
   'id': '17555966',
   'phone': '02-940-5268',
   'place_name': '광운대학교 중앙도서관',
   'place_url': 'http://place.map.kakao.com/17555966',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058805946885',
   'y': '37.6201339781116'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': 'PK6',
   'category_group_name': '주차장',
   'category_name': '교통,수송 > 교통시설 > 주차장',
   'distance': '',
   'id': '964798968',
   'phone': '',
   'place_name': '광운대학교 동해문화예술관 한울관 주차장',
   'place_url': 'http://place.map.kakao.com/964798968',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057065359787',
   'y': '37.6206483956122'}],
 'meta': {'is_end': False,
  'pageable_count': 45,
  'same_name': {'keyword': '광운대학교', 'region': [], 'selected_region': ''},
  'total_count': 223}}

# 전체지역

In [21]:
cnt_tmap = tmap['검색지명'].value_counts()
cnt_tmap

솔내음          95
수림정          93
목월빵집         93
하우스베이커리      93
이성당          93
             ..
영덕읍행정복지센터     1
재능중학교         1
한일합섬의령공장      1
서영여자고등학교      1
구미시보건소        1
Name: 검색지명, Length: 16307, dtype: int64