In [5]:
%matplotlib inline
import pandas as pd

In [7]:
tmap = pd.read_csv('../data/Tmap_2005.csv')

In [9]:
tmap

,일자,지역(시도),지역(시군구),검색지명,검색지유형1,검색지유형2,검색지유형3,검색지랭킹(시군구내)
0,20200510,강원,삼척시,쏠비치삼척,여행/레저,숙박,콘도/리조트,1
1,20200510,강원,삼척시,삼척해양레일바이크용화정거장,여행/레저,레저/스포츠,레저/스포츠기타,2
2,20200510,강원,삼척시,장호항,교통편의,교통시설,항구,3
3,20200510,강원,삼척시,삼척해양레일바이크궁촌정거장,여행/레저,레저/스포츠,레저/스포츠기타,4
4,20200510,강원,삼척시,해신당공원,여행/레저,관광명소,공원,5
...,...,...,...,...,...,...,...,...
232495,20200503,충북,청주시 청원구,초정약수세종스파텔,여행/레저,관광명소,온천,26
232496,20200503,충북,청주시 청원구,더휴센트럴파크아파트,건물/시설,주요건물,아파트단지,27
232497,20200503,충북,청주시 청원구,오창대성베르힐아파트,건물/시설,주요건물,아파트단지,28
232498,20200503,충북,청주시 청원구,오창모아미래도와이드시티아파트,건물/시설,주요건물,아파트단지,29
232499,20200503,충북,청주시 청원구,신화아파트,건물/시설,주요건물,아파트단지,30

In [11]:
tmap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232500 entries, 0 to 232499
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   일자           232500 non-null  int64
 1   지역(시도)       232500 non-null  object
 2   지역(시군구)      232500 non-null  object
 3   검색지명         232500 non-null  object
 4   검색지유형1       232500 non-null  object
 5   검색지유형2       232500 non-null  object
 6   검색지유형3       232500 non-null  object
 7   검색지랭킹(시군구내)  232500 non-null  int64
dtypes: int64(2), object(6)
memory usage: 14.2+ MB

# 서울지역만 하는 경우
## 노원구 한정

In [30]:
c1 = tmap['지역(시도)'] == '서울'
c2 = tmap['지역(시군구)'] == ''
# c2 = tmap['일자']==20200510
seoul = tmap.loc[c1 & c2,:]
seoul

IndentationError: unexpected indent (<ipython-input-30-a743125a53fa>, line 2)

In [15]:
cnt_seoul = seoul['검색지명'].value_counts()
cnt_seoul

당고개역            31
롯데백화점노원점        31
상계주공7단지아파트      31
이마트월계점          31
태릉입구역           31
상계역             31
롯데마트중계점         31
극동건영벽산아파트       31
수락산역            31
노원역             31
석계역             31
월계한진한화그랑빌아파트    31
공릉역             31
이마트트레이더스월계점     31
노원구청            31
중계그린아파트         31
상계주공10단지아파트     30
인제대부속상계백병원      28
상계주공15단지아파트     28
태강아파트           26
상계주공2단지아파트      26
학여울청구아파트        25
원자력병원           24
상계주공6단지아파트      23
을지병원            22
중계주공5단지아파트      22
중계무지개아파트        20
2001아울렛중계점      19
보람1단지아파트        17
태릉CC            16
상계주공14단지아파트     14
삼육대학교           12
하계장미6단지아파트      12
월계주공2단지아파트      12
광운대학교           12
공릉풍림아파트         10
상계주공3단지아파트       7
원자력병원장례식장        7
세이브존노원점          6
상계주공1단지아파트       6
건영백화점            3
상계주공9단지아파트       2
더블레스컨벤션          1
양지대림1차아파트        1
서울노원경찰서          1
인덕대학교            1
을지병원장례식장         1
Name: 검색지명, dtype: int64

cnt_seoul = seoul['검색지명'].value_counts()
cnt_seoul

In [26]:
type(cnt_seoul)
data = {'name':[], 'count':[]}
for idx, i in enumerate(cnt_seoul.index):
    if cnt_seoul[idx]<=1: break
    data['name'].append(i)
    data['count'].append(cnt_seoul[idx])
data
cnt_df = pd.DataFrame(data)
cnt_df.head(50)
# 음 한달동안 서울에서 20회 이하는 삭제했을때

            name  count
0           당고개역     31
1       롯데백화점노원점     31
2     상계주공7단지아파트     31
3         이마트월계점     31
4          태릉입구역     31
5            상계역     31
6        롯데마트중계점     31
7      극동건영벽산아파트     31
8           수락산역     31
9            노원역     31
10           석계역     31
11  월계한진한화그랑빌아파트     31
12           공릉역     31
13   이마트트레이더스월계점     31
14          노원구청     31
15       중계그린아파트     31
16   상계주공10단지아파트     30
17    인제대부속상계백병원     28
18   상계주공15단지아파트     28
19         태강아파트     26
20    상계주공2단지아파트     26
21      학여울청구아파트     25
22         원자력병원     24
23    상계주공6단지아파트     23
24          을지병원     22
25    중계주공5단지아파트     22
26      중계무지개아파트     20
27    2001아울렛중계점     19
28      보람1단지아파트     17
29          태릉CC     16
30   상계주공14단지아파트     14
31         삼육대학교     12
32    하계장미6단지아파트     12
33    월계주공2단지아파트     12
34         광운대학교     12
35       공릉풍림아파트     10
36    상계주공3단지아파트      7
37     원자력병원장례식장      7
38       세이브존노원점      6
39    상계주공1단지아파트      6
40         건영백화점      3
41    상계주공9단지아파트      2

# 카카오 api
- 카카오 api 키워드로 장소검색을 사용하면 각각의 네비게이션 목적지들의 좌표값이 나온다.
- 지하철 역일경우에는 인구 분포가 안나오는데 그외에는 나온다.

In [27]:
# cnt_df.plot(kind='bar')
import requests
from decouple import config
ka_key = config('KAKAO_RESTAPI')
kakao_url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query=광운대학교'
h = {
    'Authorization': 'KakaoAK '+ka_key
}
res = requests.get(kakao_url, headers=h)
res.json()

{'documents': [{'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': 'SC4',
   'category_group_name': '학교',
   'category_name': '교육,학문 > 학교 > 대학교',
   'distance': '',
   'id': '10148561',
   'phone': '02-940-5114',
   'place_name': '광운대학교',
   'place_url': 'http://place.map.kakao.com/10148561',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058270608867',
   'y': '37.6192404638865'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17564275',
   'phone': '02-940-8614',
   'place_name': '광운대학교 동해문화예술관',
   'place_url': 'http://place.map.kakao.com/17564275',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057577863828',
   'y': '37.6198462676801'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': 'CT1',
   'category_group_name': '문화시설',
   'category_name': '문화,예술 > 문화시설 > 공연장,연극극장',
   'distance': '',
   'id': '1817730210',
   'phone': '',
   'place_name': '광운대학교 동해문화예술관 대극장',
   'place_url': 'http://place.map.kakao.com/1817730210',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.05759144243',
   'y': '37.6198282413004'},
  {'address_name': '서울 노원구 월계동 465-41',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17566581',
   'phone': '',
   'place_name': '광운대학교 한울관',
   'place_url': 'http://place.map.kakao.com/17566581',
   'road_address_name': '서울 노원구 광운로 27-38',
   'x': '127.057057429366',
   'y': '37.6206465974719'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '스포츠,레저 > 스케이트 > 스케이트장',
   'distance': '',
   'id': '10156264',
   'phone': '02-909-3114',
   'place_name': '광운대학교 아이스링크',
   'place_url': 'http://place.map.kakao.com/10156264',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057193096323',
   'y': '37.6203077604657'},
  {'address_name': '서울 노원구 월계동 500-40',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '부동산 > 주거시설 > 기숙사,기숙시설',
   'distance': '',
   'id': '614748387',
   'phone': '02-940-5282',
   'place_name': '광운대학교 공공기숙사빛솔재',
   'place_url': 'http://place.map.kakao.com/614748387',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.05633764726',
   'y': '37.6214794557542'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '823736351',
   'phone': '',
   'place_name': '광운대학교 80주년기념관',
   'place_url': 'http://place.map.kakao.com/823736351',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.0587072414654',
   'y': '37.619931305040545'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '사회,공공기관 > 행정기관 > 과학기술정보통신부 > 우체국 > 우편취급국',
   'distance': '',
   'id': '18132873',
   'phone': '',
   'place_name': '광운대학교우편취급국',
   'place_url': 'http://place.map.kakao.com/18132873',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.05896020643866',
   'y': '37.62040059346702'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '17561911',
   'phone': '',
   'place_name': '광운대학교 비마관',
   'place_url': 'http://place.map.kakao.com/17561911',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.059933686195',
   'y': '37.6195820062722'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '715015774',
   'phone': '',
   'place_name': '광운대학교 새빛관',
   'place_url': 'http://place.map.kakao.com/715015774',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.060889862124',
   'y': '37.6197941498518'},
  {'address_name': '서울 노원구 월계동 383-4',
   'category_group_code': 'CE7',
   'category_group_name': '카페',
   'category_name': '음식점 > 카페',
   'distance': '',
   'id': '22577995',
   'phone': '02-941-3890',
   'place_name': '와플대학 광운대캠퍼스',
   'place_url': 'http://place.map.kakao.com/22577995',
   'road_address_name': '서울 노원구 광운로 64',
   'x': '127.06018097652368',
   'y': '37.62283985104657'},
  {'address_name': '서울 노원구 월계동 505-2',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '12721052',
   'phone': '',
   'place_name': '광운대학교 누리관',
   'place_url': 'http://place.map.kakao.com/12721052',
   'road_address_name': '서울 노원구 광운로1길 60',
   'x': '127.054995691942',
   'y': '37.6203952998464'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학교부속시설',
   'distance': '',
   'id': '11032521',
   'phone': '02-940-8226',
   'place_name': '광운대학교 정보과학교육원',
   'place_url': 'http://place.map.kakao.com/11032521',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058270628556',
   'y': '37.6192656915341'},
  {'address_name': '서울 노원구 월계동 447-1',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '교육,학문 > 학습시설 > 도서관',
   'distance': '',
   'id': '17555966',
   'phone': '02-940-5268',
   'place_name': '광운대학교 중앙도서관',
   'place_url': 'http://place.map.kakao.com/17555966',
   'road_address_name': '서울 노원구 광운로 20',
   'x': '127.058805946885',
   'y': '37.6201339781116'},
  {'address_name': '서울 노원구 월계동 466',
   'category_group_code': 'PK6',
   'category_group_name': '주차장',
   'category_name': '교통,수송 > 교통시설 > 주차장',
   'distance': '',
   'id': '964798968',
   'phone': '',
   'place_name': '광운대학교 동해문화예술관 한울관 주차장',
   'place_url': 'http://place.map.kakao.com/964798968',
   'road_address_name': '서울 노원구 광운로 21',
   'x': '127.057065359787',
   'y': '37.6206483956122'}],
 'meta': {'is_end': False,
  'pageable_count': 45,
  'same_name': {'keyword': '광운대학교', 'region': [], 'selected_region': ''},
  'total_count': 223}}

# 전체지역

In [21]:
cnt_tmap = tmap['검색지명'].value_counts()
cnt_tmap

솔내음          95
수림정          93
목월빵집         93
하우스베이커리      93
이성당          93
             ..
영덕읍행정복지센터     1
재능중학교         1
한일합섬의령공장      1
서영여자고등학교      1
구미시보건소        1
Name: 검색지명, Length: 16307, dtype: int64